*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
	width:90%;
	margin:auto;

}
#one{
    
        background-color:#edeae4;
    
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.col{
	/*width:33.33%;*/
	padding:10px;
}
.image_div img{
	width:100%;
	border-radius:50%;
	box-shadow:0 0 10px #b5a19f;
	border:3px solid rgb(255,255,255);
}
.card{
    padding:15%;
}
.head,.subhead,.para{
    text-align: center;
}
.subhead{
    
        color:#a4a8b0;
        font-style:italic;
    
}